<div class="container-fluid">
  <div class="row table-responsive">
      <div class="headers ">
          <h3 class="table-title">Student Profile </h3>
      </div>
  
      <table class="table table-bordered m-auto">
        <tbody>
              <tr>
                  <th>Student id</th>
                  <td>{{students.studentid}}</td>
                 
              </tr>
              <tr>
                  <th>Student name</th>
                  <td>{{students.name}}</td>
              </tr>
              <tr>
                <th>Fathername</th>
                <td>{{students.fathername}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{students.gender}}</td>
          </tr>
          <tr>
            <th>Mobile no</th>
            <td>{{students.mobileno}}</td>
          </tr>
      <tr>
        <th>Class</th>
        <td>{{students.classs}}</td>
    </tr>
    <tr>
      <th>Section</th>
      <td>{{students.section}}</td>
  </tr>
      <tr>
        <th>DOB</th>
        <td>{{students.dob | date}}</td>
    </tr>
    <tr>
      <th>Academic Year</th>
      <td>{{students.academicyear}}</td>
  </tr>
  <tr>
    <th>DOJ</th>
    <td>{{students.doj | date}}</td>
</tr>
<tr>
  <th>Address</th>
  <td>{{students.address}}</td>
</tr>
            </tbody>
      </table>
    </div>
  </div>

  