mat-card{
    align-items: center;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(234, 234, 243);
    border-radius: 10px;
}
.field{
    width: 300px;
}

  .matcard{
    margin-top: 100px;
  }
  .login{
    margin: auto;
  }