mat-card{
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(234, 234, 243);
    border-radius: 10px;
}
.field{
    width: 100%;
    margin: auto;
}

  .matcard{
    margin-top: 10%;
  }
  .login{
    margin: auto;
  }
