<div class="container-fluid tables">
  <div class="row table-responsive">
      <div class="headers ">
          <h3 class="table-title">facultys Profile </h3>
      </div>
      <table class="table table-bordered">
        <tbody>
              <tr>
                  <th>faculty id</th>
                  <td>{{facultys.facultyid}}</td>
                 
              </tr>
              <tr>
                  <th>facultys name</th>
                  <td>{{facultys.name}}</td>
              </tr>
              <tr>
                <th>Fathername</th>
                <td>{{facultys.fathername}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{facultys.gender}}</td>
          </tr>
          <tr>
            <th>Mobile no</th>
            <td>{{facultys.mobileno}}</td>
        </tr>
        <tr>
          <th>Email.id</th>
          <td>{{facultys.emailid}}</td>
      </tr>
      <tr>
        <th>DOB</th>
        <td>{{facultys.dob | date}}</td>
    </tr>
    <tr>
      <th>Experaiance</th>
      <td>{{facultys.experiance}} YR</td>
  </tr>
  <tr>
    <th>DOJ</th>
    <td>{{facultys.doj | date}}</td>
</tr>
<tr>
  <th>Address</th>
  <td>{{facultys.address}}</td>
</tr>
            </tbody>
      </table>
  </div>
  </div>
  